<div>
  <label>Searh for the people</label>
  <input type="search" ng-model="search" >
</div>
<ul>
  <li ng-repeat="people in teamC | filter:search">
    <strong>Name: </strong>{{people.name}}
    <strong>position: </strong>{{people.position}}
    <button ng-click="remove($index)">x</button>
    <span ng-show="$first">First!</span>
    <span ng-show="$middle">Middle!</span>
    <span ng-show="$last">Last!</span>
  </li>
</ul>
<p>There are {{teamC.length}} people in team C.</p>
<a href="#add">Add a new memeber</a>


<h2>Select Box</h2>
<label>Search for people</label>
<input type="search" ng-model="search_person" > <br>
<select ng-model="selected_person" ng-options="person.name for person in teamC | filter:search_person">
  <option value="">Choose a person</option>
</select>

<div>
  <input type="text" ng-model="selected_person.name" >
  <input type="text" ng-model="selected_person.position" >
</div>